*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    line-height:1.6;
}

header{
    background:black;
    padding:1em;
    overflow:hidden;
}

.logo{
    float:left;
    color:white;
    font-size:2em;
    font-weight:bold;
}


nav{
    float:right;
    margin-top:2vh;
}

nav ul{
    list-style:none;
}
nav ul li{
    display:inline-block;
    margin-left:5vw;
}
nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
main{
    padding:2em;
    overflow:hidden;
}

section{
    width:50vw;
    float:left;
    background:white;
    padding:2em;
    border-radius:10px;
    margin-bottom: 3vh;
}

article{
    background-color:skyblue;
    padding:2em;
    margin-top:2vh;
    border-radius:20px;
}

aside{
    width:30vw;
    float:right;
    background-color:darksalmon;
    padding:3em;
    border-radius:10px;
}

figure{
    margin-top:1em;
    text-align:center;
}

figure img{
    width:100%;
    max-width:50vw;
    border-radius:10px;
}

figcaption{
    margin-top:1em;
    font-style:italic;
}
    
details{
    margin-top:5vh;
    background:beige;
    padding:1em;
    border-radius:5px;
}


footer{
    background:black;
    color:white;
    text-align:center;
    padding:2em;
    clear:both;
}

@media screen and (max-width: 768px){
    
    section{
        width:100%;
        float:none;
        margin-bottom:20px;
    }

    aside{
        width:100%;
        float:none;
    }

    .logo{
        float:none;
        text-align:center;
        display:block;
        padding-top: 2em;
    }

    nav{
        float:none;
        text-align:center;
        margin-top:5vh;
    }

    nav ul li{
        display:inline-block;
        margin:1em;
    }
}
@media screen and (max-width: 480px){

    header{
        text-align:center;
    }

    .logo{
        font-size:24px;
        margin-bottom:2px;
        padding-top: 3vh;
    }

    nav ul li{
        display:block;
        
    }

    nav ul li a{
        display:block;
        padding:10px;
        background:darkred;
        border-radius:5px;
    }

    section,
    aside{
        width:100%;
        padding:2em;
    }

    figure img{
        width:100%;
        height:auto;
    }

    h2{
        font-size:22px;
    }

    h3{
        font-size:18px;
    }

    p{
        font-size:14px;
    }
}